* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
}

/* Common */
a,
button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  min-width: 113px;
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s linear;
}

.btn--primary {
  color: #fff;
  background-color: #212832;
}

.btn--primary:hover {
  background-color: #7264d6;
}

.section-subtitle {
  position: relative;
  margin-left: 30px;

  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.section-subtitle::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}

/* Header */
.header {
  padding-top: 38px;
}

.header--sticky {
  position: sticky;
  top: -38px;
  background-color: #fff;
  z-index: 100;
}

.header__inner {
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__navbar {
  margin-left: 70px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 8px 24px;
}

.navbar__item:hover .navbar__link,
.navbar__item--active .navbar__link {
  color: #212832;
  text-shadow: 0 0 1px currentColor;
}

.navbar__item--active .navbar__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  border-radius: 0.5px;
  border-bottom: 1px solid #7264d6;
}

.navbar__link {
  position: relative;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.header__action {
  margin-left: auto;
}

.header__action-link {
  margin-right: 28px;
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  transition: color 0.25s linear;
}

.header__action-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Hero */
.hero {
  user-select: none;
}

.hero__inner {
  padding-top: 72px;
  display: flex;
  gap: 168px;
}

.hero__content {
  padding-top: 57px;
}

.hero__heading {
  margin-top: 12px;
  width: 500px;
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero__heading--hightlight {
  color: #7264d6;
}

.hero__desc {
  width: 540px;
  margin-top: 20px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero__form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input {
  height: 100%;
  width: 100%;
  padding: 15px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 1.75;
  border: none;
  border-radius: inherit;
  outline: none;
  caret-color: var(--primary-color);
}

.hero__form:focus-within {
  border: 2px solid var(--primary-color);
}

.hero__form-btn {
  padding: 15px 28px;
  flex-shrink: 0;
  background-color: var(--primary-color);
  transition: opacity 0.25s;
}

.hero__form-btn:hover {
  opacity: 0.8;
}

.hero__form-desc {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}

.hero__media {
  width: 100%;
  position: relative;
}

.deposite-card {
  position: absolute;
  top: 113px;
  left: -100px;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: 1.4em 1em;
  width: 17.4em;
  height: 4.6em;
  border-radius: 0.6em;
  background: #fff;
  box-shadow: 0em 1em 2em 0em rgba(0, 0, 0, 0.07);
}

.deposite-card__icon {
  width: 1.8em;
  height: 1.8em;
}

.deposite-card__text {
  margin-left: 0.8em;
  color: #31456a;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
}

.deposite-card__price {
  margin-left: 0.9em;
  color: #4ab5e3;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1;
}

.interest-circle {
  position: absolute;
  top: 127px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  width: 13em;
  height: 13em;
  border-radius: 100%;
  background-color: #da6464;
}

.interest-circle__percent {
  color: #fff;
  font-size: 4.4em;
  font-weight: 600;
}

.interest-circle__text {
  color: #fff;
  font-size: 1.6em;
  font-weight: 400;
}

.secured-funds {
  position: absolute;
  right: 100px;
  bottom: 61px;
  display: flex;
  font-size: 1rem;
  width: 12.4em;
  height: 6.8em;
  border-radius: 1em;
  background: #439f90;
  padding: 2em 1.4em;
}

.secured-funds__content {
  margin-left: 11px;
}

.secured-funds__price {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
}

.secured-funds__text {
  margin-top: 5px;
  color: #fff;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
}
