* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
}

/* Common */
a,
button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  min-width: 113px;
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s linear;
}

.btn--primary {
  color: #fff;
  background-color: #212832;
}

.btn--primary:hover {
  background-color: #7264d6;
}

.section-title {
  color: #212832;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.section-subtitle {
  position: relative;
  margin-left: 30px;

  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.section-desc {
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.section-subtitle::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}

/* Header */
.header {
  padding-top: 38px;
}

.header--sticky {
  position: sticky;
  top: -38px;
  background-color: #fff;
  z-index: 100;
}

.header__inner {
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__navbar {
  margin-left: 70px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 8px 24px;
}

.navbar__item:hover .navbar__link,
.navbar__item--active .navbar__link {
  color: #212832;
  text-shadow: 0 0 1px currentColor;
}

.navbar__item--active .navbar__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  border-radius: 0.5px;
  border-bottom: 1px solid #7264d6;
}

.navbar__link {
  position: relative;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.header__action {
  margin-left: auto;
}

.header__action-link {
  margin-right: 28px;
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  transition: color 0.25s linear;
}

.header__action-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

/* Hero */
.hero {
  user-select: none;
}

.hero__inner {
  padding-top: 72px;
  display: flex;
  gap: 168px;
}

.hero__content {
  padding-top: 57px;
}

.hero__heading {
  margin-top: 12px;
  width: 500px;
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}

.hero__heading--highlight {
  color: #7264d6;
}

.hero__desc {
  width: 540px;
  margin-top: 20px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero__form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input {
  height: 100%;
  width: 100%;
  padding: 15px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 1.75;
  border: none;
  border-radius: inherit;
  outline: none;
  caret-color: var(--primary-color);
}

.hero__form:focus-within {
  border: 2px solid var(--primary-color);
}

.hero__form-btn {
  padding: 15px 28px;
  flex-shrink: 0;
  background-color: var(--primary-color);
  transition: opacity 0.25s;
}

.hero__form-btn:hover {
  opacity: 0.8;
}

.hero__form-desc {
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
}

.hero__media {
  width: 100%;
  position: relative;
}

.deposit-card {
  position: absolute;
  top: 113px;
  left: -100px;
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding: 1.4em 1em;
  width: 17.4em;
  height: 4.6em;
  border-radius: 0.6em;
  background: #fff;
  box-shadow: 0em 1em 2em 0em rgba(0, 0, 0, 0.07);
}

.deposit-card__icon {
  width: 1.8em;
  height: 1.8em;
}

.deposit-card__text {
  margin-left: 0.8em;
  color: #31456a;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
}

.deposit-card__price {
  margin-left: 0.9em;
  color: #4ab5e3;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1;
}

.interest-circle {
  position: absolute;
  top: 127px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  width: 13em;
  height: 13em;
  border-radius: 100%;
  background-color: #da6464;
}

.interest-circle__percent {
  color: #fff;
  font-size: 4.4em;
  font-weight: 600;
}

.interest-circle__text {
  color: #fff;
  font-size: 1.6em;
  font-weight: 400;
}

.secured-funds {
  position: absolute;
  right: 100px;
  bottom: 61px;
  display: flex;
  font-size: 1rem;
  width: 12.4em;
  height: 6.8em;
  border-radius: 1em;
  background: #439f90;
  padding: 2em 1.4em;
}

.secured-funds__content {
  margin-left: 11px;
}

.secured-funds__price {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1;
}

.secured-funds__text {
  margin-top: 5px;
  color: #fff;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1;
}

/* How it works */
.works {
  margin-top: 60px;
}

.works__inner {
  display: flex;
  gap: 230px;
  padding-top: 100px;
}

.works__thumb {
  position: relative;
  width: 456px;
  height: 619px;
  flex-shrink: 0;
}

.works__thumb-bg {
  position: absolute;
  left: 0;
  bottom: 0;
}

.works__thumb-img {
  position: absolute;
  left: 7px;
  bottom: 0;
  z-index: 1;
  width: 100%;
  object-fit: cover;
}

.bank-icon-wrapper {
  font-size: 1rem;
  position: absolute;
  top: 76px;
  right: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4em;
  height: 6.4em;
  background: #7264d6;
  border-radius: 0.8em;
}

.bank-icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  background: #f8fbfe;
  border-radius: 0.4em;
}

.active-card {
  position: absolute;
  right: -100px;
  bottom: 96px;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 15px;
  font-size: 1rem;
  width: 22.6em;
  height: 7em;
  border-radius: 0.8em;
  background: #fffdfa;
  box-shadow: 0em 1.4em 3.4em 0em rgba(0, 0, 0, 0.07);
}

.active-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 0.6em;
  background-color: #4ab5e3;
}

.active-card__icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  background: #ffffff;
}

.active-card__title {
  color: #212832;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
}

.active-card__text {
  margin-top: 5px;
  color: #696d76;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 400;
}

.works__content {
  margin-top: 29px;
}

.works__title {
  margin-top: 12px;
}

.works-list {
  padding-top: 40px;
}

.works-item__title {
  margin-top: 30px;
  color: #212832;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
}

.works-item__desc {
  margin-top: 16px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

/* Feature */
.feature {
  margin-top: 60px;
}

.feature__inner {
  display: flex;
  padding-top: 100px;
  gap: 130px;
}

.feature__thumb {
  width: 100%;
  position: relative;
  padding: 86px 88px 92px 0;
}

.send-card {
  position: absolute;
  right: 0;
  top: 38px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 2.3em 1.3em;
  width: 27.6em;
  height: 8.6em;
  border-radius: 12px;
  font-size: 1rem;
  background: #fff;
  box-shadow: 0em 1.4em 3.8em 0em rgba(0, 0, 0, 0.07);
}

.send-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 0.8em;
  background-color: rgba(218, 100, 100, 0.1);
}

.send-card__content {
  font-family: Inter;
  flex: 1;
}

.send-card__title {
  color: #212832;
  font-size: 1.2rem;
  font-weight: 500;
}

.send-card__text {
  margin-top: 0.4em;
  color: #696d76;
  font-size: 1rem;
  font-weight: 400;
}

.send-card__amount {
  font-family: Inter;
}

.send-card__num {
  color: #212832;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
}

.send-card__date {
  margin-top: 0.3em;
  color: #696d76;
  text-align: right;
  font-size: 1rem;
  font-weight: 400;
}

.income-card {
  position: absolute;
  right: 0;
  bottom: 37px;
  padding: 1.5em;
  font-size: 1rem;
  width: 12em;
  height: 12em;
  border-radius: 1.6em;
  background: #439f90;
}

.income-card__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 3em;
  height: 3em;
  border-radius: 0.8em;
}

.income-card__title {
  margin-top: 1.4em;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.income-card__num {
  margin-top: 0.6em;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.feature__title {
  width: 470px;
  margin-top: 12px;
}

.feature__desc {
  width: 470px;
  margin-top: 20px;
}

.feature-list {
  padding-top: 10px;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 18px;
}

.feature-item__dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #7264d6;
}

.feature-item__title {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.feature__btn {
  padding: 15px 28px;
  min-width: 149px;
  margin-top: 38px;
}

.feature-second {
  margin-top: 160px;
}

.feature-second__inner {
  flex-direction: row-reverse;
}

.feature-second__thumb-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.feature-second__img {
  position: absolute;
  left: 28px;
  bottom: 0;
  z-index: 1;
}

.circle-card {
  position: absolute;
  right: 0;
  bottom: 222px;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 9em;
  height: 9em;
  border-radius: 100%;
  background: #7264d6;
  box-shadow: 0em 1.5em 4em 0em rgba(0, 0, 0, 0.1);
}

.payments-card {
  position: absolute;
  right: 26px;
  bottom: 57px;
  z-index: 1;
  padding: 2.8em;
  font-size: 1rem;
  width: 28.1em;
  height: 22em;
  border-radius: 0.8em;
  background-color: #fff;
  filter: drop-shadow(0em 4.4em 4.8em rgba(0, 0, 0, 0.1));
  text-align: center;
}

.payments-card__title {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.666;
}

.payments-card__list {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.8em;
}

.payments-card__item {
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.3em;
  height: 4.8em;
  background-color: #f2f2fa;
}

.payments-card__item:last-child {
  background: #f9ea63;
}

/* Testimonial */
.testimonials {
  margin-top: 160px;
}

.testimonials__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__title {
  margin-top: 12px;
}

.testimonials__decs {
  margin-top: 18px;
  width: 435px;
  text-align: center;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.testimonials-list {
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.testimonials-item__blockquote {
  position: relative;
  padding: 42px 28px;
  width: 570px;
  height: 254px;
  color: #696d76;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55;
  border: 1px solid #dfe2e8;
  border-radius: 4px;
  background-color: #fff;
}

.testimonials-item__blockquote::before {
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  border-width: 60px;
  border-style: solid;
  border-color: #dfe2e8 transparent transparent transparent;
}

.testimonials-item__blockquote:after {
  position: absolute;
  bottom: -118px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  border-width: 60px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 1;
}

.testimonials-item__blockquote:hover {
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonials-item__blockquote:hover::before {
  border-top-color: #fff;
}

.testimonials-item__avatar {
  position: relative;
  margin: 96px auto 0;
  width: 104px;
  height: 104px;
  border-radius: 100%;
  background-color: #4ab5e3;
  overflow: hidden;
}

.testimonials-item__avatar-img {
  position: absolute;
  top: 12px;
  width: 100%;
  width: 100%;
  object-fit: cover;
}

.testimonials-item__name {
  margin-top: 20px;
  color: #070052;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.testimonials-item__job-title {
  margin-top: 2px;
  color: #696d76;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.testimonials-item:nth-child(2) .testimonials-item__avatar {
  background: #439f90;
}

.testimonials__pagination {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.testimonials__pagination-item {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
  cursor: pointer;
}

.testimonials__pagination-item--active {
  background-color: #7264d6;
}
