* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.6rem;
}

/* Common */
a,
button,
input,
textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  min-width: 113px;
  text-align: center;
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  background-color: transparent;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s linear;
}

.btn--primary {
  color: #fff;
  background-color: #212832;
}

.btn--primary:hover {
  background-color: #7264d6;
}

/* Header */
.header {
  padding-top: 38px;
}

.header--sticky {
  position: sticky;
  top: -38px;
  background-color: #fff;
}

.header__inner {
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__navbar {
  margin-left: 70px;
}

.navbar__list {
  display: flex;
  align-items: center;
}

.navbar__item {
  padding: 8px 24px;
}

.navbar__item:hover .navbar__link,
.navbar__item--active .navbar__link {
  color: #212832;
  text-shadow: 0 0 1px currentColor;
}

.navbar__item--active .navbar__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  border-radius: 0.5px;
  border-bottom: 1px solid #7264d6;
}

.navbar__link {
  position: relative;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.header__action {
  margin-left: auto;
}

.header__action-link {
  margin-right: 28px;
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  transition: color 0.25s linear;
}

.header__action-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
